<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.flooog.scss.dao.TeaCourseMapper">
    <resultMap id="BaseResult" type="top.flooog.scss.entity.TeaCourse">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="c_id" property="cId"/>
        <result column="is_select" property="selected"/>
    </resultMap>

    <!--插入授课-->
    <insert id="insertTeaCourse" parameterType="top.flooog.scss.entity.TeaCourse">
        insert into tea_course (id, user_id, c_id,is_select,create_time,update_time)
        values(#{id},#{userId},#{cId},#{selected},#{createTime},#{update_Time})
    </insert>
    <!-- 通过工号查询课程-->
    <select id="findMyCourse" parameterType="java.lang.String" resultMap="BaseResult">
        select id,user_id,c_id,is_select
        from tea_course
        where user_id = #{tid}
    </select>
    <!-- 通过课程号查询课程-->
    <select id="findCourse" parameterType="java.lang.String" resultMap="BaseResult">
        select id,user_id,c_id,is_select
        from tea_course
        where c_id = #{cid}
    </select>
</mapper>